

@mixin baseSetting () {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
}

@mixin flex($num) {
  -webkit-flex: $num;
  flex: $num;
}

@mixin commonTransitionBazierSetting() {
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@mixin backgroundSetting($url) {
  background-image: url($url); // background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#curtain-container {
  display: -webkit-flex;
  display: flex;
  position: relative;
  .placeholder {
    visibility: hidden;
    height: 100%;
    width: 100%;
    z-index: -1;
    margin: 0 auto;
  }
  .image-container {
    flex: 1;
  }
}

.curtain {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text-container {
  @include baseSetting();
  z-index: 5;
}

.text {
  position: absolute;
  float: left;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer-panel-container {
  @include baseSetting();
}

.left-panel {
  @include flex(1);
  float: left;
  position: relative;
  z-index: 4;
  transform: translateY(-10%);
  @include commonTransitionBazierSetting();
}

.left-panel-additional {
  z-index: 3;
  background: #fff;
  transform: translateY(-10%) SkewY(-8deg);
  ;
}

.right-panel {
  @include flex(1);
  float: left;
  position: relative;
  transform: translateY(-100%);
  @include commonTransitionBazierSetting();
}

.right-panel-additional {
  z-index: 3;
  background: #fff;
  transform: translateY(-100%) SkewY(0deg);
  ;
}

.content {
  @include baseSetting();
  background: #333;
  z-index: -1;
}



.inner-left-panel {
  @include flex(1);
  height: 100%;
  width: 50%;
  transform: translateY(10%);
  @include commonTransitionBazierSetting();
  @include backgroundSetting('./images/wo.jpg')
}

.inner-right-panel {
  @include flex(1);
  transform: translateY(0%);
  @include commonTransitionBazierSetting();
  @include backgroundSetting('./images/man.jpg');
}

.curtain.on {
  .left-panel {
    transform: translateY(-100%);
  }
  .left-panel-additional {
    background: #fff;
    transform: translateY(-100%) skewY(0);
  }
  .right-panel {
    transform: translateY(-10%);
  }
  .right-panel-additional {
    background: #fff;
    transform: translateY(-10%) skewY(-8deg);
  }
  .inner-left-panel {
    transform: translateY(0%);
  }
  .inner-right-panel {
    transform: translateY(10%);
  }
}